<%= render "layouts/errors", :object => @sighting %>

<div class="form-group">
  <%= form_for @sighting, :class =>"form-control" do |f| %>
    <%= f.text_field :location, :class =>"form-control", :placeholder =>"Please give us a general location, i.e. 'near the pond'" %>
    <%= f.text_field :description, :class =>"form-control", :placeholder =>"Please provide a description of the encounter" %>
    <%= f.text_field :reporter, :class =>"form-control", :placeholder =>"Please enter your name" %>
    <br>
    <%= f.select(:animal_id) do %>
        <%= content_tag(:option,"Animal sighted", value: nil)%>
      <% @animals.each do |c| -%>
        <%= content_tag(:option, c.species, value: c.id)%>
      <% end %>
    <% end %>
    <br>
    <br>
    <%= f.select(:region_id) do %>
    <%= content_tag(:option,"Region ", value: nil)%>
      <% @regions.each do |c| -%>
        <%= content_tag(:option, c.name, value: c.id) %>
      <% end %>
    <% end %>
    <br>
    <br>
    <%= f.submit 'Submit Sighting', :class => "form-button" %>
  <% end %>
</div>
